
  <%= form_for @stylist do |f| %>
    <%= render 'shared/errors', object: @stylist %>

    <div class="form-group style-form">

      <%= f.text_field :name, class: 'form-control', placeholder: 'Name of Stylist' %></br>
      <%= f.text_area :bio, class: 'form-control', placeholder: 'Enter Bio Here' %></br>
      <%= f.file_field :image %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Services</h3>
        <div id="services">
          <%= f.fields_for :services do |service| %>
            <%= render 'service_fields', f: service %>
          <% end %>
          

    <% end %>
