
  <%= form_for @stylist do |f| %>
    <%= render 'shared/errors', object: @stylist %>

    <div class="form-group style-form">

      <%= f.text_field :name, class: 'form-control', placeholder: 'Name of Stylist' %></br>
      <%= f.text_area :bio, class: 'form-control', placeholder: 'Enter Bio Here' %></br>
      <%= f.file_field :image %>
    </div>

    <% end %>
